page-login {

}

ion-content{
    background-image: url('../../assets/img/login.jpg');
}

.login {
   position: absolute;
   top: 40%;
   align-content: right;
   text-align: center;
   display: block;
   right: 25%;
}
   
